$gs-border-color: #D4D4D4;
$gs-time-line-axis-color: #3F3F3F;
$gs-selected-device-border-color: #267FFA;
$gs-selected-device-background-color: #F6F6F6;

// deviceList
$device-item-border-color: #D4D4D4;
$device-item-selected-background-color: #F8F8F8;
$text-color: #000000;
$status-connected-color: #1FDA2F;
$status-disconnected-color: #FB2741;

