$text-font-family: Roboto, Helvetica, Arial, sans-serif;
$device-item-width: 288px;
$device-item-height: 60px;
$text-font-size:13px;
$status-margin-left:15px;
$status-margin-right:12px;
$separation-line-width:67px;
$device-items-margin:6px;